<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangchao.testproject">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 读写内/外部存储权限 begin -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="sunland.example.wangchao.testproject.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sunland.example.wangchao.testproject.activity.CustomViewActivity"/>
        <activity android:name="okhttp.OkhttpActivity"/>
        <activity android:name="sunland.example.wangchao.testproject.activity.WaterImgActivity"/>
        <activity android:name="sunland.example.wangchao.testproject.PathViewActivity"/>
        <activity android:name="sunland.example.wangchao.testproject.activity.XfermodeActivity"/>
        <activity android:name="widget.RoundImageActivity" />
        <activity android:name="thread.ThreadTestActivity"/>
        <activity android:name="rxjava.MyRxJavaActivity"/>
        <activity android:name="rxjava.RxJavaActivity"/>
        <activity android:name="okhttp.MyOkhttpActivity"/>
        <service android:name="sunland.example.wangchao.testproject.service.BookManagerService"
            android:process=":remote"
            android:enabled="true"
            android:exported="true"
            />
        <activity android:name="sunland.example.wangchao.testproject.aidl.BookMnagerActivity"/>
        <activity android:name="camera2.CameraActivity"/>
        <activity android:name="sunland.example.wangchao.testproject.activity.WaterImgActivity2"/>
    </application>

</manifest>